<!doctype html>
<html>
	<head>




		<title>Landing Page</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	





	
	<body>


		
	
		<div class="header">
			<h1>
				{{#if viewAlt}}
				<div class="AddTitle"> <a href = "/faq.html"> FAQ </a> </div>

				{{else}}
				<div class="AddTitle"> <a href = "/faq.html"> How To? </a> </div>

				{{/if}}

				<a href = "/index.html"><input id="backButton" value="LOG OUT" onclick="goBack()"></input></a>
				<a href="/input.html" class="addButton"><input id="addButton" type="submit" value="ADD"></input>
				</a>
			</h1>
		</div>

		<nav>
			
		</nav> 
		<div class = "intro">
			<p>{{welcome}}</p>
			<p>To add a new task, click on the + button.</p>

		</div>


		

<!--{{#if viewAlt}}

{{#each tasks}} 

<ul class="tasks">
	<li class ="tasklist" id= "{{id}}">
	<p>{{taskname}}</p>
    <p>{{time}}</p> 
    <div class ="countdown">{{countdown}}</div> 
    <p>{{location}}</p>
    {{#if soundAlt}}
   <div class="audioBar">
<audio  controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/pricecenter.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
</div>
		{{else}}
		<audio controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/time.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		{{/if}}
			<div class="notification">
			<label for="notification">Notification:</label><br>
			<input type="radio" id="note" name="{{id}}" value="Speaker">Speaker
			<input type="radio" id="note" name="{{id}}" value="Vibration" >Vibration<br>
			<input type="radio" id="note" name="{{id}}" value="Headphones" checked>Headphones<br>
		</div>


     <a href="#" class="deletingTask"> <img src = "/image/delete.jpg" width="21" height="21"></a>
</li>
</ul>

{{/each}}

{{else}}
{{/if}}
-->



{{#each tasks}} 


<ul class="tasks">
	<li class ="tasklist" id= "{{id}}">
	<p>{{taskname}}</p>
    <p>{{time}}</p> 
    <div class ="countdown">{{countdown}}</div> 
    <p>{{location}}</p>
    {{#if soundAlt}}
<audio id="audioBar" controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/pricecenter.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		{{else}}
		<audio controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/time.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		
{{/if}}
     <a href="#" class="deletingTask"> <img src = "/image/delete.jpg" width="21" height="21"></a>
     <a href="/input.html" class="notification2"> <img src = "/image/Edit.jpg" width="21" height="21"></a>
</li>
</ul>
{{/each}}




	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/home.js"></script>
	

	</body>
</html>