<!doctype html>
<html>
	<head>



<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170650636-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->





<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114578698-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114578698-2');
</script>




<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-114578698-2', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>




		<title>Landing Page</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	





	
	<body>
	
		<div class="header">
			<h1>
				<div class="AddTitle"> <a href = "/faq.html"> How to? </a> </div>
				<a href = "/index.html"><input id="backButton" value="LOG OUT" onclick="goBack()"></input></a>
				<a href="/input.html" class="addButton"><input id="addButton" type="submit" value="ADD"></input>
				</a>
			</h1>
		</div>

		<nav>
			
		</nav> 
		<div class = "intro">
			<p>{{welcome}}</p>
			<p>To add a new task, click on the + button.</p>

		</div>


		
{{#if viewAlt}}
{{#each tasks}} 
<ul class="tasks">
	<li class ="tasklist" id= "{{id}}">
	<p>{{taskname}}</p>
    <p>{{time}}</p> 
    <div class ="countdown">{{countdown}}</div> 
    <p>{{location}}</p>
    {{#if soundAlt}}
<audio controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/pricecenter.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		{{else}}
		<audio controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/time.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		{{/if}}
			<div class="notification">
			<label for="notification">Notification:</label><br>
			<input type="radio" id="note" name="{{id}}" value="Speaker">Speaker
			<input type="radio" id="note" name="{{id}}" value="Vibration" >Vibration
			<input type="radio" id="note" name="{{id}}" value="Headphones" checked>Headphones
		</div>


     <a href="#" class="deletingTask"> <img src = "/image/delete.jpg" width="21" height="21"></a>
</li>
</ul>
{{/each}}

{{else}}
{{#each tasks}} 
<ul class="tasks">
	<li class ="tasklist" id= "{{id}}">
	<p>{{taskname}}</p>
    <p>{{time}}</p> 
    <div class ="countdown">{{countdown}}</div> 
    <p>{{location}}</p>
    {{#if soundAlt}}
<audio controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/pricecenter.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		{{else}}
		<audio controls="controls" onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, {{onsetTime}})">
		<source src="/time.m4a" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		{{/if}}

     <a href="#" class="deletingTask"> <img src = "/image/delete.jpg" width="21" height="21"></a>
</li>
</ul>
{{/each}}
{{/if}}


	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/home.js"></script>
	

	</body>
</html>